.App {
  text-align: center;
}

.App-header {
  background-image: linear-gradient(#679cda, #ffa600);
  color: white;
  padding: 30px;
  margin-bottom: 80px;
  position: relative;
  top: 0;
}

h1, 
h2 {
  font-family: "Helvetica Neue", Helvetca, sans-serif;
}

h1 {
  font-size: 90px;
  font-weight: 100;
}

h2 {
  font-size: 40px;
  font-weight: 200;
}

.position {
  background: antiquewhite;
  margin: 30px auto;
  padding: 15px;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weatherData {
  background: antiquewhite;
  margin: 50px auto;
  padding: 15px;
}